.image  {
  max-width: 200px;
  max-height: 200px;
}

ul {
  display: flex;
  /* padding: 0; */
  margin: 0px;
  list-style: none;
  /*this is how to add space between the items*/
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 48px;
  
}

